.btn-test {
  background-color: green;
  border: 2px solid black;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50px;
  width: 100px;
}
